<div class='error'>
  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>


<h1>Adopt a Pet</h1>

<%= form_for(@pet) do |f| %>

    <p style="text-align:center"><%= f.label :username %>
    <%= f.collection_select :user_id, @users , :id, :username %></p>

    <p style="text-align:center"><%= f.submit "Adopt Me"%></p>

<% end %>