  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>



<%= form_for(@user) do |f| %>

    <p style="text-align:center"><%= f.label :name %>
    <%= f.text_field :name %></p>
    
    <p style="text-align:center"><%= f.label :username %>
    <%= f.text_field :username %></p>
   
    <p style="text-align:center"><%= f.label :password %>
    <%= f.text_field :password %></p>
  
    <p style="text-align:center"><%= f.label :email %>
    <%= f.text_field :email %></p>
  
    <p style="text-align:center"><%= f.label :profile_pic %>
    <%= f.file_field :avatar%></p>
  

    <p style="text-align:center"><%= f.submit %></p>

<% end %>

