  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>



<%= form_for(@user) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :profile_pic %>
    <%= f.file_field :avatar%>
    <br>

    <%= f.submit %>

<% end %>

