<h1>Welcome <%= @user.name %></h1>

<% if @user.avatar.attached? %>
    <image src="<%=(url_for(@user.avatar))%>">
<%end%>

<user_header class='user'>
  <div class="user-nav">
    <ul>
      <li><%= link_to "Adopt A Pet", pets_path %></li>
      <li><%= link_to "Edit Account", edit_user_path %></li>
      <li><%= link_to "Make a Donation", new_donation_path %></li>
      <li><%= link_to 'Delete', user_path(@user), method: :delete %></li>
    </ul>
  </div>
</user_header>

