<h1>Welcome <%= @user.name %></h1>

<% if @user.avatar.attached? %>
    <image src="<%=(url_for(@user.avatar))%>">
<%end%>


<p><%= link_to "Adopt A Pet", _path %></p>

<p><%= link_to "Edit Account", edit_user_path %></p>

<p><%= link_to "Make a Donation", new_donation_path %></p>

