<h1>Welcome <%= @user.name %></h1></br></br>


<user_header class='user'>
  <div class="user-nav">
  <p class="cartoon"><%= image_tag("cartoon/cartoon_dog.png", width: '500px' ) %></p>

    <ul>
      <li><p><%= link_to "Adopt A Pet", pets_path %></p></li>
      <li><p><%= link_to "Edit Account", edit_user_path %></p></li>
      <li><p><%= link_to "Make a Donation", new_donation_path %></p></li>
      <li><p><%= link_to "Create a New Post", new_post_path %></p></li>
      <li><p><%= link_to 'Delete', user_path(@user), method: :delete %></p></li>
    </ul>

  </div>
</user_header>

<p class="border" class="img"><%= image_tag(@user.avatar, size: '300x300') %> </p><br/>

<h6>Your Generous Donations</h6>

<% @user.donations.each do |donation| %>
  <ul>
  <li><p><%= link_to "A Donation 💕", donation_path(donation)%></p></li>
  </ul>
<% end %>







