<!DOCTYPE html>
<html>
  <head>
    <title>FlatironsAdoptAPup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
  <div>
   
    <%= image_tag("logos/logo.png", width: '200px' ) %>
    <%= link_to "Home", root_path%>
    <%= link_to "Make a Donation", new_donation_path%>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Look At All Our Pets!", pets_path %>
    <%= link_to "Newsfeed", posts_path %>
   
  </div>
    <%= yield %>
  </body>
</html>