<!DOCTYPE html>
<html>
  <head>
    <title>FlatironsAdoptAPup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class='clearfix'>
      <div class="left-nav">
        
          <h3><%= image_tag("logos/logo.png", width: '150px' ) %>
              <%= link_to "ðŸ¶Home", root_path%>
              <%= link_to "ðŸ¶Make a Donation", new_donation_path%>
              <%= link_to "ðŸ¶Sign Up", new_user_path %>
              <%= link_to "ðŸ¶Look At All Our Pets!", pets_path %>
              <%= link_to "ðŸ¶NewsfeedðŸ¶", posts_path %></h3>

      </div>
      
    </header>

    <div class='content'>
       <%= yield %>
    </div>

  </body>
</html>







